@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap");

.container {
  padding: 0 2rem;
  height: 100vh;
  background: #f5f5f5;
  font-family: Roboto, sans-serif;
}

.main {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 {
  color: rgba(175, 47, 47, 0.15);
  font-size: 100px;
  font-weight: 400;
  text-align: center;
}

.input {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgb(255 255 255);
  box-shadow: 0 -1px 5px 0 rgb(0 0 0 / 20%);
  width: 100%;
  font-size: 24px;
  outline: 0;
}

.input :focus {
  outline: none !important;
}

.input::placeholder {
  color: #bfbfbf;
  font-style: italic;
}

.inputEdit {
  width: 92%;
  font-size: 24px;
  padding: 15px 15px 15px 10px;
  margin-left: 50px;
  box-shadow: inset 0 -2px 4px 0 rgb(0 0 0 / 20%);
}

.checkboxContainer {
  display: block;
  position: relative;
  /*padding-left: 35px;*/
  margin-bottom: 32px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  height: 35px;
  width: 35px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #ddd;
  margin-left: 10px;
}

.checkboxContainer .checkmark:after {
  left: 9px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(0deg);
}

.checkmark:after {
  content: "✓";
  color: #4fc74f;
  position: absolute;
  display: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

.toggle {
  height: 35px;
  width: 35px;
  position: absolute;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  margin-left: 10px;
}

.toggleAll {
  background: none;
  text-align: center;
  border: none;
  opacity: 0;
  position: absolute;
}

.toggleAll label::before {
  content: "❯";
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
  transform: rotate(90deg);
}

.toggleWrapper .deleteBtn {
  opacity: 0;
  position: absolute;
  background: none;
  border: none;
  width: 35px;
  height: 35px;
  font-size: 25px;
  color: #cc9a9a;
  margin-left: 500px;
}

.toggleWrapper {
  display: block;
}

.toggleWrapper .deleteBtn:hover {
  opacity: 1;
  transition: color 0.2s ease-out;
}

.ul {
  background: rgb(255 255 255);
  box-shadow: 0 -1px 5px 0 rgb(0 0 0 / 20%);
  width: 100%;
  font-size: 24px;
  list-style-type: none;
}

.ul li {
  width: 100%;
  font-size: 24px;
  padding: 15px 15px 15px 60px;
}

.todoContainer {
  width: 100%;
  background: rgb(255 255 255);
  border-bottom: 1px solid #ededed;
  list-style-type: none;
  font-size: 24px;
  box-shadow: 0 -1px 5px 0 rgb(0 0 0 / 20%), 0 1px 1px rgba(0, 0, 0, 0.15),
    0 10px 0 -5px #eee, 0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0, 0, 0, 0.15);
}

.toggleWrapper {
  display: flex;
  align-items: center;
}

.todoContainer li {
  width: 100%;
  border-bottom: 1px solid #ededed;
  color: #4d4d4d;
  padding: 15px 15px 15px 60px;
}

.filtersContainer {
  display: flex;
  align-items: center;
  gap: 60px;
}

.infoContainer {
  display: flex;
  background: rgb(255 255 255);
  margin: 0;
  list-style: none;
  font-size: 14px;
  color: #bfbfbf;
  align-items: center;
  gap: 90px;
  padding: 10px 15px;
}

.filters {
  display: flex;
  list-style-type: none;
  gap: 20px;
  font-size: 14px;
  margin: 3px;
  padding: 3px 7px;
  border: 1px solid transparent;
  border-radius: 3px;
  background: rgb(255 255 255);
}

.filters button {
  background: none;
  border: none;
  color: #bfbfbf;
  font-size: 14px;
  cursor: pointer;
}

.btnClear {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
  color: #bfbfbf;
  font-size: 14px;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Roboto, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
